# Node modules
node_modules/

# Build output
dist/

# Logs
*.log

# OS files
.DS_Store

# Environment files
.env

# Appium logs
appium.log

# VSCode settings
.vscode/

# NPM lock file
package-lock.json

# Archivos grandes y binarioss
android-sample-app.apk
